/* global setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*global styling*/
html,
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em; /* 1em=2inches*/
}
a {
    color: #333;
    text-decoration: none;
}
h1 {
    font-family: 'Rollete Qaku Regular';
    color: orangered;
}
h2,
h3 {
    padding-bottom: 20px;
}
p {
    margin: 10px;
}
/* Navigation */
#navbar {
    background: #082032;
    overflow: auto;
    color: #fff;
}
#navbar a {
    color: #fff;
}
#navbar ul {
    list-style: none;
    float: right;
}